<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Administracja</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:href="@{/css/global.css}" th:rel="stylesheet" />
    <style>
        .buttons button{
            width: 100%;
        }
    </style>
</head>
<body>
<!-- Header -->
<div th:replace="fragment/header :: header"></div>

<div class="container">
    <br/>
    <div class="row">
        <div class="col-md-10 mx-auto">
                <div class="form-group">
                    <label style="font-size:30px" th:inline="text">Witaj <a
                            style="color:lightskyblue; text-transform:capitalize"><b>[[${#httpServletRequest.remoteUser}]]</b></a>
                        w "Signal Rush"!</label>
                </div>
        </div>
        <div th:class="parent" style="width: 100%; padding: 15px 20px 15px">
            <div th:class="child" style="display: inline-block; padding: 0px 5px 0px"><a class="btn btn-primary" href="/addresses/show" role="button" >Adresy</a></div>
            <div th:class="child" style="display: inline-block; padding: 0px 5px 0px"><a class="btn btn-primary" href="/broadcasts/show" role="button" >Audycje</a></div>
            <div th:class="child" style="display: inline-block; padding: 0px 5px 0px"><a class="btn btn-primary" href="/employees/show/" role="button">Pracownicy</a></div>
        </div>
        <div class="col-md-10 mx-auto" style="font-size:20px">
            Tutaj będą znajdować się powiadomienia dotyczące aktualnych zadań w naszej rozgłośni
        </div>
        <div class="col-md-10 mx-auto" style="margin-top: 15px">
            <img style="width: 500px;" th:src="@{/images/task-list-template.jpg}" alt="Nasze listy zadań na pewno nie będą puste">
        </div>
    </div>
</div>
<!-- Footer -->
<div th:replace="fragment/footer :: footer"></div>
</body>
</html>