<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main Admin Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <style>
        body {
            background-image: url("https://static.vecteezy.com/system/resources/previews/008/129/918/original/abstract-background-line-wave-element-sound-spectrum-equalizer-wallpaper-futuristic-particle-technology-illustration-vector.jpg");
        }
    </style>
</head>
<body>
<!-- Header -->
<div th:replace="fragment/header :: header"></div>

<div class="container">
    <div class="row">

        <div class="col-md-10 mt-5">
            <form method="post" th:action="@{/index}">
                <div class="form-group">
                    <label style="font-size:30px" th:inline="text">Welcome <a
                            style="color:lightskyblue; text-transform:capitalize"><b>[[${#httpServletRequest.remoteUser}]]</b></a>
                        to the main page!</label>
                    <div style="font-size:20px">If you want to logout, click "Logout" button under this text.</div>
                </div>

                <button class="btn btn-primary" type="submit" onclick="successfullyLogout()" value="Sign Out">Logout
                </button>
            </form>
            <br/>
            <a class="btn btn-primary" href="/addresses/show" role="button" >Adresy</a><br/>
            <a class="btn btn-primary" href="/broadcasts/show" role="button" >Audycje</a><br/>
            <a class="btn btn-primary" href="/employees/show/" role="button">Pracownicy</a>
        </div>
    </div>
</div>
<!-- Footer -->
<div th:replace="fragment/footer :: footer"></div>
</body>
</html>