<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Audycje page</title>

</head>
<body>
    <div align="center">
        <h1>Records</h1>


        <table border="1" cellpadding="10" align="center">
            <!-- Table header -->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Data</th>
                    <th>Format</th>
                    <th>Czas trwania</th>
                    <th>Nr rozglosni</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each = "audycja: ${audycje}">
                    <td th:text = "${audycja.nr_audycji}" >ID</td>
                    <td th:text = "${audycja.data}" >Data</td>
                    <td th:text = "${audycja.format}" >Format</td>
                    <td th:text = "${audycja.czas_trwania}" >Czas trwania</td>
                    <td th:text = "${audycja.nr_rozglosni}" >Nr rozglosni</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>