<!DOCTYPE html>
<html lang="pl">
<head>

</head>
<body>
<div id="footer" class="navbar navbar-inverse navbar-expand-lg navbar-dark bg-dark fixed-bottom text-right"
     th:fragment="footer">
    <div class="container" style="text-align: right">
        <a class="navbar-text mx-auto" style="font-size:15px;" href="#">Rozgłośnia muzyczna "Signal Rush" Copyright @
            Aleksandra Michalska, Jacek Pelczar</a>
    </div>
</div>
<div th:fragment="footer">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>

</div>
</body>
</html>