<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main User Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:href="@{/css/global.css}" th:rel="stylesheet" />
</head>
<body>

<!-- Navigation -->
<div th:replace="fragment/header :: header"></div>

<div class="container">
    <div class="row">

        <div class="col-md-10 mt-5">
            <form method="post" th:action="@{/index}">
                <div class="form-group">
                    <label style="font-size:30px" th:inline="text">Witaj <a
                            style="color:lightskyblue; text-transform:capitalize"><b>[[${#httpServletRequest.remoteUser}]]</b></a>
                        w "Signal Rush"!</label>
                    <div style="font-size:20px">Jeśli chcesz się wylogować, naciśnij przysisk "Wyloguj" poniżej.</div>
                </div>

                <button class="btn btn-primary" type="submit" onclick="successfullyLogout()" value="Sign Out">Wyloguj
                </button>
            </form>
            <br/>
            <a class="btn btn-primary" href="/employee/show/employee/" role="button">O mnie</a>
        </div>

    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
<!-- Footer -->
<div th:replace="fragment/footer :: footer"></div>
</body>
</html>