<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Dodaj audycję</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <link th:href="@{/css/global.css}" th:rel="stylesheet" />
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<div class="container" align="center">
  <br/>
  <h1>Dodaj Audycję</h1>
  <br/>

  <form action="#" th:action="@{/broadcasts/add/save}" th:object="${broadcast}" method="post">
    <table border="1" cellpadding="10">
      <tr>
        <td>Data</td>
        <td><input type="datetime-local" th:field="*{lokalnaData}"></td>
      </tr>

      <tr>
        <td>Format</td>
        <td><input type="text" th:field="*{format}"></td>
      </tr>

      <tr>
        <td>Czas trwania</td>
        <td><input type="time" th:field="*{czas_trwania}", th:step="1"></td>
      </tr>

      <tr style="display: none">
        <td>Numer rozgłośni</td>
        <td><input type="text" th:field="*{nr_rozglosni}" readonly="readonly"></td>
      </tr>

    </table>
    <br/>
    <button class="btn btn-primary" type="submit">Dodaj</button>
    <a class="btn btn-primary"  th:href="@{/broadcasts/show}">Wróć</a>
  </form>
</div>
<!-- Footer -->
<div th:replace="fragment/footer :: footer"></div>
</body>
</html>