<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Audycje - Szczegóły</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:href="@{/css/global.css}" th:rel="stylesheet" />
</head>
<body>
<!-- Header -->
<div th:replace="fragment/header :: header"></div>


<div class="container" align="center">
    <h1> Szczegóły Audycji</h1>
    <br/>
    <form action="#" th:action="@{/broadcasts/details/save}" th:object="${broadcast}" method="post">
        <table border="1" cellpadding="10">
            <tr>
                <td>ID</td>
                <td><input type="text" th:field="*{nr_audycji}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>Data</td>
                <td><input type="datetime-local" th:field="*{lokalnaData}"></td>
            </tr>

            <tr>
                <td>Format</td>
                <td><input type="text" th:field="*{format}"></td>
            </tr>

            <tr>
                <td>Czas trwania</td>
                <td><input type="time" th:field="*{czas_trwania}" th:step="1"></td>
            </tr>
            <tr hidden="hidden">
                <td>Numer rozgłośni</td>
                <td><input type="text" th:field="*{nr_rozglosni}" readonly="readonly"></td>
            </tr>
        </table>
        <br/>

        <button class="btn btn-primary" type="submit">Zaktualizuj</button>
        <a class="btn btn-primary"  th:href="@{/broadcasts/show}">Wróć</a>
        <a class="btn btn-primary" th:href="@{__${#httpServletRequest.requestURI}__/tracks}" role="button">Dodaj/Usuń utwory</a>
        <a class="btn btn-primary" th:href="@{__${#httpServletRequest.requestURI}__/guests}" role="button">Dodaj/Usuń gości</a>
        <a class="btn btn-primary"  th:href="@{__${#httpServletRequest.requestURI}__/delete}">Usuń audycję</a>

    </form>

</div>




<!-- Footer -->
<div th:replace="fragment/footer :: footer"></div>
<script th:src="@{/js/multiselect.js}"></script>

</body>
</html>