<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Signal Rush</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <style>
        body {
            background-image: url("https://static.vecteezy.com/system/resources/previews/008/129/918/original/abstract-background-line-wave-element-sound-spectrum-equalizer-wallpaper-futuristic-particle-technology-illustration-vector.jpg");
        }
    </style>
</head>
<body>
<!-- Navigation -->
<div th:replace="fragment/header :: header"></div>


<div class="container">
    <div class="row">
        <div class="col-md-10 mt-5">

            <label style="font-size:30px">Witaj w miejscu, gdzie emocje stykają się z dźwiękiem</label>
            <div style="font-size:20px">W celu zalogowania, kliknij <a th:href="@{/main}"><b>tutaj</b></a> lub w miejscu jeszcze nie określonym
            </div>

        </div>
    </div>
</div>
</br>
<div class="container">
    <div class="row">
        <div class="col-md-10 mt-5">
            <label style="font-size:20px"><b>Aktualności:</b></label>
            <div style="font-size:20px">Po raz kolejny przywitaliśmy nowy rok dźwiękami muzyki klasycznej z Filharmonii Wiedeńskiej. Orkiestra wystąpiła
               pod batutą Franza Welser-Mösta.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 mt-5">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/hTjdhgQmDDI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<!-- Footer -->
<div th:replace="fragment/footer :: footer"></div>
</body>
</html>

