<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Dodaj pracowników</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <style>
    body {
      background-image: url("https://static.vecteezy.com/system/resources/previews/008/129/918/original/abstract-background-line-wave-element-sound-spectrum-equalizer-wallpaper-futuristic-particle-technology-illustration-vector.jpg");
    }
  </style>
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<div align="center">
  <br/>

  <form action="#" th:action="@{/employees/add/save}" th:object="${employee}" method="post">
    <table border="1" cellpadding="10">
      <tr>
        <td>Imię</td>
        <td><input type="text" th:field="*{imie}"></td>
      </tr>

      <tr>
        <td>Nazwisko</td>
        <td><input type="text" th:field="*{nazwisko}"></td>
      </tr>

      <tr>
        <td>Data urodzenia</td>
        <td><input type="text" th:field="*{data_urodzenia}"></td>
      </tr>

      <tr>
        <td>Pesel</td>
        <td><input type="text" th:field="*{pesel}"></td>
      </tr>
    </table>
    <br/>
    <button class="btn btn-primary" type="submit">Dodaj</button>
  </form>
</div>
<!-- Footer -->
<div th:replace="fragment/footer :: footer"></div>
</body>
</html>