<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Widok - Pracownik</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <link th:href="@{/css/global.css}" th:rel="stylesheet" />

</head>
<body>
<!-- Header -->
<div th:replace="fragment/header :: header"></div>

<div class="container">
  <div align="center">
    <br/>
    <h1>Usuwanie Pracowników</h1>
    <br/>

    <br/>
    <table border="1" cellpadding="10" align="center">
      <thead>
      <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Data urodzenia</th>
        <th>Pesel</th>
        <th>Płeć</th>
        <th>Data zatrudnienia</th>
        <th>Nr konta</th>
        <th>Email</th>
        <th>Nr telefonu</th>
        <th>Adres</th>
        <th>Stanowisko</th>
        <th>Usuwanie</th>


      </tr>
      </thead>
      <tbody>
      <tr th:title="Edytuj" id="content" th:each="employee: ${employees}" th:onclick="'javascript:rowClicked(\'' + ${employee.nr_pracownika} + '\');'">
        <td th:text="${employee.imie}">Imię</td>
        <td th:text="${employee.nazwisko}">Nazwisko</td>
        <td th:text="${#dates.format(employee.data_urodzenia, 'dd-MM-yyyy')}">Data urodzenia</td>
        <td th:text="${employee.pesel}">Pesel</td>
        <td th:text="${employee.plec}">Płeć</td>
        <td th:text="${#dates.format(employee.data_zatrudnienia, 'dd-MM-yyyy')}">Data zatrudnienia</td>
        <td th:text="${employee.nr_konta}">Nr konta</td>
        <td th:text="${employee.email}">Email</td>
        <td th:text="${employee.nr_telefonu}">Nr telefonu</td>
        <td th:each="address : ${addresses}" th:if="${address.nr_adresu == employee.nr_adresu}" th:text="${address.miasto +' ul.'+ address.ulica + ' '+address.nr_lokalu}">Adres</td>
        <td th:each="jobposition : ${jobpositions}" th:if="${jobposition.nr_stanowiska == employee.nr_stanowiska}" th:text="${jobposition.nazwa}">Stanowisko</td>
        <td>
          <a th:href="@{'/employees/delete/'+${employee.nr_pracownika}}">Usuń</a>
        </td>
      </tr>
      </tbody>
    </table>
    <br/>
    <a class="btn btn-primary" href="/employees/show" role="button" >Wróć</a>
    <br/>
  </div>
</div>
<!-- Footer -->
<div th:replace="fragment/footer :: footer"></div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>