<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Widok - Pracownik</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <style>
    tr#content:hover {background-color: lightgray}
  </style>
  <style>
    body {
      background-image: url("https://static.vecteezy.com/system/resources/previews/008/129/918/original/abstract-background-line-wave-element-sound-spectrum-equalizer-wallpaper-futuristic-particle-technology-illustration-vector.jpg");
    }
  </style>
</head>
<body>
<!-- Header -->
<div th:replace="fragment/header :: header"></div>

<div class="container">
  <div align="center">
    <br/>
    <h1>Tabela Pracowników</h1>
    Aby edytować kliknij w rekord.
    <br/>

    <br/>
    <table border="1" cellpadding="10" align="center">
      <thead>
      <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Data urodzenia</th>
        <th>Pesel</th>
        <th>Płeć</th>
        <th>Data zatrudnienia</th>
        <th>Nr konta</th>
        <th>Email</th>
        <th>Nr telefonu</th>
        <th>Nr rozgłośni</th>
        <th>Nr adresu</th>
        <th>Nr stanowiska</th>

      </tr>
      </thead>
      <tbody>
      <tr th:title="Edytuj" id="content" th:each="employee: ${employees}" th:onclick="'javascript:rowClicked(\'' + ${employee.nr_pracownika} + '\');'">
        <td th:text="${employee.imie}">Imię</td>
        <td th:text="${employee.nazwisko}">Nazwisko</td>
        <td th:text="${#dates.format(employee.data_urodzenia, 'dd-MM-yyyy')}">Data urodzenia</td>
        <td th:text="${employee.pesel}">Pesel</td>
        <td th:text="${employee.plec}">Płeć</td>
        <td th:text="${#dates.format(employee.data_zatrudnienia, 'dd-MM-yyyy')}">Data zatrudnienia</td>
        <td th:text="${employee.nr_konta}">Nr konta</td>
        <td th:text="${employee.email}">Email</td>
        <td th:text="${employee.nr_telefonu}">Nr telefonu</td>
        <td th:text="${employee.nr_rozglosni}">Nr rozgłośni</td>
        <td th:text="${employee.nr_adresu}">Nr adresu</td>
        <td th:text="${employee.nr_stanowiska}">Nr stanowiska</td>
      </tr>
      </tbody>
    </table>
    <br/>
    <br/>
    <a class="btn btn-primary" href="/employees/add" role="button" >Tryb dodawania</a><br/><br/>
    <!--<a class="btn btn-primary" href="/addresses/delete" role="button" >Tryb usuwania</a>-->
  </div>
</div>
<!-- Footer -->
<div th:replace="fragment/footer :: footer"></div>
<script th:src="@{/js/script.js}"></script>
<script>
  function rowClicked(value){
    location.href="/employees/update/"+value;
  }
</script>
</body>
</html>