<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Tryb edycji pracownika</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <link th:href="@{/css/global.css}" th:rel="stylesheet" />
</head>
<body>
<!-- Header -->
<div th:replace="fragment/header :: header"></div>
<div class="container">
  <h1> Edytuj dane pracownika</h1>
  <br/>
  <div sec:authorize="hasRole('ROLE_ADMIN')">
    <form action="#" th:action="@{/employees/update/save}" th:object="${employees}" method="post">
      <table border="1" cellpadding="10">
        <tr>
          <td>ID</td>
          <td><input type="text" th:field="*{nr_pracownika}" readonly="readonly"></td>
        </tr>

        <tr>
          <td>Imię</td>
          <td><input type="text" th:field="*{imie}" th:required="required"></td>
        </tr>

        <tr>
          <td>Nazwisko</td>
          <td><input type="text" th:field="*{nazwisko}" th:required="required"></td>
        </tr>

        <tr>
          <td>Data urodzenia</td>
          <td><input type="date" th:field="*{data_urodzenia}" th:required="required"></td>
        </tr>

        <tr>
          <td>Pesel</td>
          <td><input type="text" pattern="[0-9]{11}" th:field="*{pesel}"></td>
        </tr>

        <tr>
          <td>Plec</td>
          <td><input type="text" pattern="[K|M]{1}" th:field="*{plec}" th:required="required"></td>
        </tr>

        <tr>
          <td>Data zatrudnienia</td>
          <td><input type="date" th:field="*{data_zatrudnienia}" th:required="required"></td>
        </tr>

        <tr>
          <td>Nr Konta</td>
          <td><input type="text" pattern="[0-9]+\s*" th:field="*{nr_konta}"></td> <!--  -->
        </tr>
        <tr>
          <td>Email</td>
          <td><input type="email"  th:field="*{email}"></td>
        </tr>
        <tr>
          <td>Nr telefonu</td>
          <td><input type="text" pattern="[0-9]+" th:field="*{nr_telefonu}"></td>
        </tr>
        <tr hidden="hidden">
          <td>Nr rozgłośni</td>
          <td><input type="text" pattern="[0-9]+" th:field="*{nr_rozglosni}" readonly="readonly"></td>
        </tr>

        <tr>
          <td>Adres</td>
          <td>
            <select th:field="*{nr_adresu}" th:required="required">
              <option th:each="address: ${addresses}"
                      th:value="${address.nr_adresu}"
                      th:text="${address.miasto + ' ul.'+address.ulica + ' ' +address.nr_lokalu}">
              </option>
            </select>
          </td>
        </tr>

        <tr>
          <td>Stanowisko</td>
          <td>
            <select th:field="*{nr_stanowiska}" th:required="required">
              <option th:each="jobposition: ${jobpositions}"
                      th:value="${jobposition.nr_stanowiska}"
                      th:text="${jobposition.nazwa}">
              </option>
            </select>
          </td>
        </tr>
      </table>
      <br/>

      <button class="btn btn-primary" type="submit">Zaktualizuj</button>
      <button class="btn btn-primary" type="button" name="cancel" value="cancel" th:onclick="window.history.back()">Anuluj</button>
    </form>
  </div>

<!---dlaUsera-->
  <div sec:authorize="hasRole('ROLE_USER')">
    <form action="#" th:action="@{/employee/update/saveme}" th:object="${employees}" method="post">
      <table border="1" cellpadding="10">
        <tr>
          <td>ID</td>
          <td><input type="text" th:field="*{nr_pracownika}" readonly="readonly"></td>
        </tr>

        <tr>
          <td>Imię</td>
          <td><input type="text" th:field="*{imie}" th:required="required"></td>
        </tr>

        <tr>
          <td>Nazwisko</td>
          <td><input type="text" th:field="*{nazwisko}" th:required="required"></td>
        </tr>

        <tr>
          <td>Data urodzenia</td>
          <td><input type="date" th:field="*{data_urodzenia}" th:required="required"></td>
        </tr>

        <tr>
          <td>Pesel</td>
          <td><input type="text" pattern="[0-9]{11}" th:field="*{pesel}"></td>
        </tr>

        <tr>
          <td>Plec</td>
          <td><input type="text" pattern="[K|M]{1}" th:field="*{plec}" th:required="required"></td>
        </tr>

        <tr>
          <td>Data zatrudnienia</td>
          <td><input type="date" th:field="*{data_zatrudnienia}" th:required="required" readonly="readonly"></td>
        </tr>

        <tr>
          <td>Nr Konta</td>
          <td><input type="text" pattern="[0-9]+\s*" th:field="*{nr_konta}"></td> <!--  -->
        </tr>
        <tr>
          <td>Email</td>
          <td><input type="email"  th:field="*{email}"></td>
        </tr>
        <tr>
          <td>Nr telefonu</td>
          <td><input type="text" pattern="[0-9]+" th:field="*{nr_telefonu}"></td>
        </tr>
        <tr hidden="hidden">
          <td>Nr rozgłośni</td>
          <td><input type="text" pattern="[0-9]+" th:field="*{nr_rozglosni}" readonly="readonly"></td>
        </tr>

        <tr>
          <td>Adres</td>
          <td>
            <select th:field="*{nr_adresu}" th:required="required">
              <option th:each="address: ${addresses}"
                      th:value="${address.nr_adresu}"
                      th:text="${address.miasto + ' ul.'+address.ulica + ' ' +address.nr_lokalu}">
              </option>
            </select>
          </td>
        </tr>

        <tr>
          <td>Stanowisko</td>
          <td>
            <select th:field="*{nr_stanowiska}" th:required="required" disabled>
              <option th:each="jobposition: ${jobpositions}"
                      th:value="${jobposition.nr_stanowiska}"
                      th:text="${jobposition.nazwa}">
              </option>
            </select>
          </td>
        </tr>
      </table>
      <br/>

      <button class="btn btn-primary" type="submit">Zaktualizuj</button>
      <button class="btn btn-primary" type="button" name="cancel" value="cancel" th:onclick="window.history.back()">Anuluj</button>
    </form>
  </div>

</div>


<!-- Footer -->
<div th:replace="fragment/footer :: footer"></div>
</body>
</html>