<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Widok - Adresy</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <style>
        body {
            background-image: url("https://static.vecteezy.com/system/resources/previews/008/129/918/original/abstract-background-line-wave-element-sound-spectrum-equalizer-wallpaper-futuristic-particle-technology-illustration-vector.jpg");
        }
    </style>
</head>
<body>
<!-- Header -->
<div th:replace="fragment/header :: header"></div>

<div class="container">
    <div align="center">
        <h1>Records</h1>

        <br/>
        <table border="1" cellpadding="10" align="center">
            <thead>
            <tr>
                <th>ID</th>
                <th>Miasto</th>
                <th>Ulica</th>
                <th>Nr_Lokalu</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="address: ${addresses}">
                <td th:text="${address.nr_adresu}">ID</td>
                <td th:text="${address.miasto}">Miasto</td>
                <td th:text="${address.ulica}">Ulica</td>
                <td th:text="${address.nr_lokalu}">Nr_Lokalu</td>
                <td>
                    <a th:href="@{'/addresses/delete/'+${address.nr_adresu}}">Usuń</a>
                </td>
            </tr>
            </tbody>
        </table>
        <br/>
        <a class="btn btn-primary" href="/addresses/show" role="button" >Wróć</a>
    </div>
</div>
<!-- Footer -->
<div th:replace="fragment/footer :: footer"></div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>