<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Widok - Adresy</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <style>
        tr#content:hover {background-color: lightgray}
    </style>
</head>
<body>
<!-- Header -->
<div th:replace="fragment/header :: header"></div>

<div class="container">
    <div align="center">
        <br/>
        <h1>Tabela Adresów</h1>
        Aby edytować kliknij w rekord.
        <br/>

        <br/>
        <table border="1" cellpadding="10" align="center">
            <thead>
            <tr>
                <th>ID</th>
                <th>Miasto</th>
                <th>Ulica</th>
                <th>Nr_Lokalu</th>
            </tr>
            </thead>
            <tbody>
            <tr th:title="Edytuj" id="content" th:each="address: ${addresses}" th:onclick="'javascript:rowClicked(\'' + ${address.nr_adresu} + '\');'">
                <td th:text="${address.nr_adresu}">ID</td>
                <td th:text="${address.miasto}">Miasto</td>
                <td th:text="${address.ulica}">Ulica</td>
                <td th:text="${address.nr_lokalu}">Nr_Lokalu</td>
            </tr>
            </tbody>
        </table>
        <br/>
        <a class="btn btn-primary" href="/addresses/delete" role="button" >Tryb usuwania</a>
    </div>
</div>
<!-- Footer -->
<div th:replace="fragment/footer :: footer"></div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>