<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Widok - Adresy</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<!-- Header -->
<div th:replace="fragment/header :: header"></div>

<div class="container">
    <div align="center">
        <h1>Records</h1>

        <br/>
        <table border="1" cellpadding="10" align="center">
            <thead>
            <tr>
                <th>ID</th>
                <th>Miasto</th>
                <th>Ulica</th>
                <th>Nr_Lokalu</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="address: ${addresses}">
                <td th:text="${address.nr_adresu}">ID</td>
                <td th:text="${address.miasto}">Miasto</td>
                <td th:text="${address.ulica}">Ulica</td>
                <td th:text="${address.nr_lokalu}">Nr_Lokalu</td>
                <td><a th:href="@{'/addresses/update/'+ ${address.nr_adresu}}">Edytuj</a> </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Footer -->
<div th:replace="fragment/footer :: footer"></div>
</body>
</html>